@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
  background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(66, 66, 66, 0.644)), to(rgba(46, 46, 46, 0.774))), url(../src/images/bg.jpg);
  background: linear-gradient(270deg, rgba(66, 66, 66, 0.644) 0, rgba(46, 46, 46, 0.774) 100%), url(../src/images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container {
  font-family: 'Poppins', sans-serif;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.form-container form {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(201, 201, 201, 0.26);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
}

.form-container .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-container .form-field label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.2rem 0;
}

.form-container .form-field input {
  background-color: rgba(255, 255, 255, 0.589);
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  width: 380px;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-container .form-field input:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.form-container .form-field input:focus {
  outline: none;
}

.form-container .form-field textarea {
  background-color: rgba(255, 255, 255, 0.589);
  padding: 0.5rem 1rem;
  font-family: 'Poppins', sans-serif;
  width: 380px;
  border: none;
  border-radius: 5px;
  height: 200px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-container .form-field textarea:focus {
  outline: none;
}

.form-container .form-field textarea:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.form-container input[type=submit] {
  width: 100%;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.form-container input[type=submit]:hover {
  background-color: #ebfcff75;
}

.form-container input[type=submit]:focus {
  outline: none;
}

.form-container input[type=submit]:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=feedback.css.map */